<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OAuth Client</title>
  </head>
  <body>
    <h1>OAuth Client</h1>
    <ul>
      <li><a href="/authorize">Authorize with OAuth</a></li>
      <li><a href="/authorize?variant=oidc">Login with OpenID Connect</a></li>
    </ul>
  </body>
</html>
