<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OAuth Client</title>
    <style>
      #authorize-controls {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        align-items: flex-start;
      }

      #authorize-controls fieldset {
        width: fit-content;
      }
    </style>
  </head>
  <body>
    <h1>OAuth Client</h1>
    <div id="authorize-controls">
      <fieldset>
        <legend>Scopes</legend>
        <label>
          <input type="checkbox" value="openid" class="scope-checkbox" />
          openid
        </label>
        <label>
          <input type="checkbox" value="email" class="scope-checkbox" />
          email
        </label>
        <label>
          <input type="checkbox" value="profile" class="scope-checkbox" />
          profile
        </label>
      </fieldset>
      <label>
        <input type="checkbox" id="pkce-checkbox" />
        Use Proof Key for Code Exchange (PKCE)?
      </label>
      <a id="authorize-link" href="/authorize">Authorize</a>
    </div>
    <script>
      const checkboxes = Array.from(
        document.querySelectorAll(".scope-checkbox"),
      );
      const pkceCheckbox = document.getElementById("pkce-checkbox");
      const authorizeLink = document.getElementById("authorize-link");

      function updateAuthorizeLink() {
        const selectedScopes = checkboxes
          .filter((el) => el.checked)
          .map((el) => el.value)
          .join(" ");
        const queryParams = new URLSearchParams();
        if (pkceCheckbox.checked) {
          queryParams.set("use_pkce", "true");
        }
        if (selectedScopes) {
          queryParams.set("scope", selectedScopes);
        }
        let href = "/authorize";
        if (queryParams.toString()) {
          href += "?" + queryParams.toString();
        }
        authorizeLink.setAttribute("href", href);
      }

      checkboxes.forEach(function (el) {
        el.addEventListener("change", updateAuthorizeLink);
      });
      pkceCheckbox.addEventListener("change", updateAuthorizeLink);
      updateAuthorizeLink();
    </script>
  </body>
</html>
